# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify common tools used in Data Science
- Evaluate arithmetic expressions in Python
- Understand the importance of data visualization
- Explore basic data manipulation techniques

Some of the popular languages that Data Scientists use are: 
1) Python
2) R
3) Julia
4) Scala
5) Java

Some of the commonly used libraries used by Data Scientists include:
1) NumPy
2) Pandas
3) Matplotlib
4) Seaborn
5) Scikit-learn

| Data Science Tools   |
|----------------------|
| Jupyter Notebook      |
| Apache Spark          |
| RStudio               |

## Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minute=200
hour= minute/60
hour

3.3333333333333335

## Author
Nithishbalaji Loganathan